@import url("https://fonts.cdnfonts.com/css/hk-groteks");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping-once {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    75%, 100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  .animate-ping-once {
    animation: ping-once 0.5s cubic-bezier(0, 0, 0.2, 1) 1;
  }